.MovieDetailPoster {
  max-width: 250px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .MovieDetailPoster {
    max-width: 300px;
  }
}

@media (min-width: 1440px) {
  .MovieDetailPoster {
    max-width: 350px;
  }
}
